

.font-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.font-hero {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-size: 4rem;
  }