
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}

.font-hero {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size: 4rem;
  }

 
/* shared styles */

.btn-primary{
    width: 180px;
    height: 64px;
    background-color:orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 23px;
    border: none;
    border-radius: 5px;
}

.display-flex{
    display: flex;
}

.dark2{
        color: rgb(160, 158, 158);
}

.dark3{
    color: rgb(41, 40, 40);

}

.orange-font{
    color:orange;
}

.secondery-bg{
    padding: 50px 100px;
    background-color:rgb(255, 144, 14, 10%);
}
 .text-gray{
    color: rgb(133, 125, 125);
    ;

 }

  /* nav bar style */
   .nav-bar{
    justify-content:space-between;
    align-items: center;
    /* text-align: center; */
   }
  .list-item{
    list-style:none;
    margin-right: 30px;
  }  

 .link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    

  }

  .logo{
    font-size: 2.8rem;
    font-weight: 700;
  }

  .banner{
    max-width: 1440px;
    text-align: center;
    margin:0 auto;
    
  }

  .banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  /* .banner{ */
   
   .banner-title{
                font-family: "Work Sans", serif;
                font-optical-sizing: auto;
                font-weight: 700px;
                font-style: normal;
                font-size: 4rem;
           }
   .banner-description{
                    font-family: "Work Sans", serif;
                    font-optical-sizing: auto;
                    font-weight:400px;
                    font-style: normal;
                    font-size: 1rem;
   }          
  
    
  .banner-img{
     max-width: 100%;
  }


  @media screen and (max-width:576px) {
                   
                 .nav-bar, .nav-links{
                    flex-direction: column;
                    gap: 20px;

                 }
    
  }