
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}

.font-hero {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size: 4rem;
  }

 
/* shared styles */

.btn-primary{
    width: 180px;
    height: 64px;
    background-color:orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 23px;
    border: none;
    border-radius: 5px;
}

.btn-Unique{
    width: 342px;
    height: 200px;
    background-color:orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 23px;
    border: none;
    border-radius: 10px;
}
.years{
    font-size:4rem;
}
main{
    max-width: 1440px;
    margin:0 auto;
}

main > section{
    margin-top: 130px;
}
.display-flex{
    display: flex;
}

.unique-font{
        color: rgb(133, 129, 129);
        font-size: 1.8rem;
        font-weight:500;
}

.black-font{
    color:rgb(3, 3, 3);
    font-size: 1.8rem;
    font-weight: bold;
}

.dark3{
    color: rgb(41, 40, 40);

}

.orange-font{
    color:orange;
    font-size: 1.8rem;
    font-weight: bold;
}

.secondery-bg{
    padding: 50px 100px;
    background-color:rgb(255, 144, 14, 10%);
}
 .text-gray{
    color: rgb(133, 125, 125);
    ;

 }

  /* nav bar style */
   .nav-bar{
    justify-content:space-between;
    align-items: center;
    /* text-align: center; */
   }
  .list-item{
    list-style:none;
    margin-right: 30px;
  }  

 .link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    

  }

  .logo{
    font-size: 2.8rem;
    font-weight: 700;
  }

  .banner{
    max-width: 1440px;
    text-align: center;
    margin:0 auto;
    
  }

  .banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  /* .banner{ */
   
   .banner-title{
                font-family: "Work Sans", serif;
                font-optical-sizing: auto;
                font-weight: 700px;
                font-style: normal;
                font-size: 4rem;
           }
   .banner-description{
                    font-family: "Work Sans", serif;
                    font-optical-sizing: auto;
                    font-weight:400px;
                    font-style: normal;
                    font-size: 1rem;
   }          
  
    
  .banner-img{
     max-width: 100%;
  }

 /* Our Feature section styles */

  .img-container{
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           gap: 30px;

  }
 .Features{
       align-items: center;
 }

 .text-container{
        max-width: 530px;
        margin-left: 50px;

 }

  /* About Section starts */

.about{
    width: 1440px;
    display: flex;
    
}
.about-container{
      
}


.architect-img{
    max-width:100%;
}
.about-title{
    border-left: 5px solid orange;
    padding-left: 10px;
}

   

.item{
     padding:30px;
     border: 1px solid teal;
     border-radius: 15px;
     margin-bottom: 20px;
     box-shadow: 0px 6px 30px 0px , rgba(0, 0, 0, 0.06%);
    }
     
   
    .card-container{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     
      
   } 
    .card {
      max-width: 240px;
      height: 240px;
      border: 1px solid orange;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      
       
    } 
    
    .card-number{
       font-size: 2.8rem;
       color:rgb(48, 46, 46);
       font-weight: 600;
       margin-top: 10px;
       margin-bottom: 5px;

    }
    .card-name{
      font-size: 1.2rem;
      font-weight: 500;
      color:gray;
      margin-top:10px;
    }

    .fact-description{
       max-width: 537px;
       margin-bottom: 50px;
    }


/* small device */
  @media screen and (max-width:576px) {
                   
                 .nav-bar, .nav-links{
                    flex-direction: column;
                    gap: 20px;

                 }
                 .Features{
                    flex-direction: column-reverse;
                 }
                 .img-container{
                    grid-template-columns: repeat(1, 1fr);
                 }

                 .text-container{
                    text-align: center;
                    margin-bottom: 50px;
                 }
                
  }

  /* medium device */

@media screen and (min-width:576px) and (max-width:992px) {
                  
                      .nav-bar, .nav-links{
                                flex-direction: column;
                                gap: 20px;}
    
                  .Features{
                        flex-direction: column-reverse;
                  }
                  .img-container{
                    grid-template-columns: repeat(2, 1fr);
                 }

                 .text-container{
                    text-align: center;
                    margin-bottom: 50px;
                 }

}